pylint==3.1.0
black==24.4.2
mypy==1.10.0
flake8==7.0.0

peewee==3.17.5

gpxpy==1.6.2
python-tcxparser==2.4.0
fitparse==1.2.0

openpyxl==3.1.2
dateparser==1.2.0
pytz==2024.1

stravaio==0.0.9
requests==2.31.0
ridewithgps @ git+https://github.com/ckdake/python-ridewithgps@4c45869a78e952d4e3644273bc2e623fd8a3e081
